<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" th:content="">
    <meta name="author" th:content="">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Sign Up </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">

    <div id="loginform">
        <span th:if="${not empty error}">
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <span>${error}</span>
            </div>
        </span>

        <span th:if="${not empty msg}">
            <div class="alert alert-success">
                <button class="close" data-close="alert"></button>
                <span>${msg}</span>
            </div>
        </span>
    </div>

    <div class="row">
        <div class="col-12">
            <form th:action="login" method="post" style="max-width: 600px; margin: 0 auto;">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ti-user"></i></span>
                    </div>
                    <input class="form-control form-control-lg" type="text" placeholder="username" aria-label="Username"
                           aria-describedby="basic-addon1" name='username' value=''>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ti-pencil"></i></span>
                    </div>
                    <input class="form-control form-control-lg" type="password" placeholder="password"
                           aria-label="Password" aria-describedby="basic-addon1" name='password'>
                </div>

                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                        <input class="btn btn-block btn-lg btn-info" type="submit" value="Giriş Yap"/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>

</html>