<footer xmlns:th="http://www.thymeleaf.org" class="footer text-center">

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>
    <script th:src="@{/js/app.init.js}"></script>
    <script th:src="@{/js/app-style-switcher.js}"></script>
    <script th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/js/sparkline.js}"></script>
    <script th:src="@{/js/waves.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/jquery.serialize-object.js}"></script>
    <script th:src="@{/js/toastr.js}"></script>
    <script th:src="@{/js/prism.js}"></script>
    <script th:src="@{/js/js-grid-db.js}"></script>
    <script th:src="@{/js/js-grid-init.js}"></script>
    <script th:src="@{/js/jsgrid.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>

</footer>


