<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer text-center">
</footer>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{../../resources/static/js/app.min.js}"></script>
<script th:src="@{../../resources/static/js/app.init.js}"></script>
<script th:src="@{../../resources/static/js/app-style-switcher.js}"></script>
<script th:src="@{../../resources/static/js/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{../../resources/static/js/sparkline.js}"></script>
<script th:src="@{../../resources/static/js/waves.js}"></script>
<script th:src="@{../../resources/static/js/sidebarmenu.js}"></script>
<script th:src="@{../../resources/static/js/custom.js}"></script>
<script th:src="@{../../resources/static/js/jquery.serialize-object.js}""></script>
<script th:src="@{../../resources/static/js/toastr.js}"></script>
<script th:src="@{../../resources/static/js/prism.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js}"></script>
